# SPDX-License-Identifier: GPL-2.0-only
#

config ARM_CCA_GUEST
	tristate "Arm CCA Guest driver"
	depends on ARM64
	select PCI_TSM if PCI
	select TSM_REPORTS
	select AUXILIARY_BUS
	help
	  The driver provides userspace interface to request an
	  attestation report from the Realm Management Monitor(RMM).
	  If the DA feature is supported, it also register with TSM framework.

	  If you choose 'M' here, this module will be called
	  arm-cca-guest.
