# SPDX-License-Identifier: GPL-2.0-only
#
# TSM (TEE Security Manager) host drivers
#
config ARM_CCA_HOST
	tristate "Arm CCA Host driver"
	depends on ARM64
	depends on PCI
	depends on KVM
	select PCI_TSM
	select KEYS
	select X509_CERTIFICATE_PARSER
	select AUXILIARY_BUS
	select CRYPTO_ECDSA
	select CRYPTO_RSA

	help
	  ARM CCA RMM firmware is the trusted runtime that enforces memory
	  isolation and security for confidential computing on ARM. This driver
	  provides the interface for communicating with RMM to support secure
	  device assignment.

	  If you choose 'M' here, this module will be called arm-cca-host.
